* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.pointLeft {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.nav-academy-color {
    color: hsl(290, 57%, 39%)
}

.nav-color {
    color: hsl(0, 0%, 0%);

}

.bgcolor1 {
    background-color: hsl(297, 100%, 91%);
}

.bgcolor2 {
    background-color: hsl(156, 69%, 87%);
}

.bgcolor4 {
    background-color: hsl(325, 100%, 98%);
}

.bgcolor5 {
    background-color: hwb(259 85% 0%);
}

#section4 p,
#section4 h3,
#section4 h2,
#section4 a {
    color: hsl(0, 0%, 0%);
}

a {
    text-decoration: none;
    color: hsl(176, 85%, 8%);
}


.inline-block {
    display: inline-block;
}

h2 {
    font-size: 2.25rem;
}

img {
    border-radius: 7px;
    display: block;
}

.text-center {
    text-align: center;
    width: 100%;
}

p,
a,
button {
    font-size: 1.125rem;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

@media screen and (min-width: 825px) {
    .mobile-nav {
        display: none;
    }

    header .desktop {
        display: flex;
        align-items: center;
        min-height: 4rem;
        padding: 0 1.5rem;
        flex-flow: wrap;
    }

    header h2 {
        text-transform: uppercase;
        font-size: 2rem;
    }

    h2 span {
        font-weight: 500;
        line-height: 2rem;
    }

    #left_head {
        flex-grow: 1;
        line-height: 2rem;
        display: flex;
        align-items: center;
    }

    #left_head figure {
        position: relative;
        bottom: 0;
        display: flex;
        align-items: center;
    }

    nav li {
        list-style: none;
        padding-left: 1rem;
    }

    li a {
        text-decoration: none;
    }

    header a:hover,
    header a:focus,
    footer a:hover,
    footer a:focus {
        color: hsl(234, 48%, 57%);
        text-decoration: underline;
        text-underline-offset: 3.5px;
    }
}

@media screen and (max-width: 825px) {
    .desktop {
        display: none;
    }

    header {
        position: fixed;
        top: 0;
        z-index: 5;
        display: flex;
        align-items: center;
        height: 4rem;
    }

    nav .mobile {
        display: flex;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
    }

    nav a {
        display: flex;
    }
}

main {
    position: relative;
    top: 4rem;

}

section {
    display: flex;
    flex-flow: wrap;
}

.section_left {
    padding: 2rem 1.5rem;
    width: 60%;
}

section figure {
    width: 100%;
}

section img {
    width: 100%;
}

.shadow {
    border-radius: 7px;
    box-shadow: -9px 9px 20px hwb(0 22% 7%), 0px 0px 3px hsl(309, 83%, 61%);
}

.section_right {
    width: 40%;
    padding: 2rem 0;
}


#section1 {
    color: hsl(279, 69%, 32%);
}

.banner_right {
    width: 75%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.banner_right h1 {
    font-size: 2.75rem;
}

.banner_right p {
    font-size: 1.75rem;
    padding: 2rem 0;
}

button {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: hsl(0, 61%, 54%);
    transition: all 300ms ease-out 200ms;
    width: 90%;
}

.btn-text-color {
    color: hsl(0, 0%, 100%);
}

button:hover,
button:focus {
    cursor: pointer;
    color: hsl(276, 100%, 30%);
    background-color: hsl(276, 94%, 95%);
    border-radius: 50px;
    font-weight: 700;
    text-transform: capitalize;
}

#section2 {
    color: hsl(281, 94%, 25%);
}
#section2 .h2 {
    padding: 2rem 0;
    color: rgb(206, 47, 47)
}
#section2 .section_left {
    border-right: rgb(211, 126, 126) 0.0125rem solid;
}

article {
    display: flex;
    width: 100%;
    border-bottom: rgb(255, 129, 129) 0.0125rem solid;
}

article figure {
    width: 35%;
    height: auto;
    padding: 1rem 0 1rem 1rem;

}

#section2 h2 {
    padding: 2rem 0 1.5rem;
}

#section2 .section_left p {
    max-width: 80ch;
}

#section2 p a {
    color: hsl(278, 87%, 6%);
    transition: all 300ms ease-out;
}

#section2 p a:hover,
#section2 p a:focus {
    color: hsl(176, 44%, 43%);
    text-decoration: underline;
    text-underline-offset: 3.5px;
}

.article_right {
    width: 65%;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.article_right h3 {
    padding: 0 0 0.5rem;
}

.article_right a {
    padding: 0.5rem 0 0;
}

.article_right a:hover,
.article_right a:focus {
    text-decoration: underline;
    text-underline-offset: 3px;
}

#section2 .layerBox {
    position: relative;
}

#section2 .layer {
    position: absolute;
    top: 0;
    left: 0;
    transition: 500ms;
}

#section2 .layer0 {
    opacity: .2;
}

#section2 .layerBox:hover .layer.layer1,
#section2 .layerBox:focus .layer.layer1 {
    transform: translate(12px, -12px);
    opacity: .4;
}

#section2 .layerBox:hover .layer.layer2,
#section2 .layerBox:focus .layer.layer2 {
    transform: translate(24px, -24px);
    opacity: .6;
}

#section2 .layerBox:hover .layer.layer3,
#section2 .layerBox:focus .layer.layer3 {
    transform: translate(36px, -36px);
    opacity: 1;
}

#section3 {
    padding: 2rem 3.5rem;
    display: block;
    color: hsl(281, 34%, 57%);
}

#section3.fire-animation {
    color: hsl(276, 94%, 90%);
}

.flex {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.shadow-3 {
    border-radius: 7px;
    box-shadow: -8px 8px 15px hwb(49 36% 7%), 0px 0px 3px hsl(308, 68%, 64%);
    overflow: hidden;
    height: 100%;
}

#section3 h2 {
    padding: 0 0 1rem;
    color: hsl(276, 56%, 2%);
}

#section3 article {
    max-width: 33%;
    min-width: 14rem;
    height: auto;
    padding: 1rem;
    display: inline-flex;
    flex-flow: column;
    border: none;
}

#section3 a {
    color: hsl(276, 100%, 15%);
}

#section3 a:hover,
#section3 a:focus {
    color: hsl(177, 88%, 20%);
    text-decoration: underline;
    text-underline-offset: 3.5px;
}

#section3 figure {
    padding: 0;
    width: 100%;
    height: auto;
}

#section3 img {
    border-radius: 1px;
    display: block;
}

#section3 h3 {
    padding: 1rem 0 0;
}

.courses-pad {
    padding: 0.5rem 0;
}

.topic-pad {
    padding: 0 0 1.5rem;
}

.section-3-text-container {
    height: 100%;
}

.section-3-text {
    padding: 0 1rem;
    min-height: 100%;
}

#section4 {
    display: block;
}

#section4 h2 {
    padding: 2rem 0;
}

#section4 .section_left,
#section4 .section_right {
    padding-top: 0;
    border: none;
}

#section4 .section_left p {
    max-width: 80ch;
}

video {
    width: 100%;
}

#video-h3 {
    padding: 1.5rem 0 0.5rem;
}

#section4 .highlight-article {
    color: hsl(276, 94%, 15%);
}

#section4 article {
    border: none;
}

#section4 img {
    border-radius: 7px;
}

#section4 .layerBox {
    position: relative;
}

#section4 .layer {
    position: absolute;
    top: 0;
    left: 0;
    transition: 600ms;
}

#section4 .layer0 {
    opacity: .2;
}

#section4 .layerBox:hover .layer.layer1,
#section4 .layerBox:focus .layer.layer1 {
    transform: translate(14px, -12px);
    opacity: .4;
}

#section4 .layerBox:hover .layer.layer2,
#section4 .layerBox:focus .layer.layer2 {
    transform: translate(28px, -24px);
    opacity: .6;
}

#section4 .layerBox:hover .layer.layer3,
#section4 .layerBox:focus .layer.layer3 {
    transform: translate(42px, -36px);
    opacity: 1;
}


.empire {
    transition: filter 600ms ease-in 100ms;
}

.empire:hover,
.empire:focus {
    filter: hue-rotate(180deg);
}

#section4 a:hover,
#section4 a:focus {
    color: hsl(177, 88%, 20%);
    text-decoration: underline;
    text-underline-offset: 3.5px;
}

footer {
    border-top: hsl(0, 0%, 27%) 1px solid;
    position: relative;
    top: 4rem;
    min-height: 4rem;
    color: hsl(276, 94%, 5%);
}

#left-foot {
    flex-grow: 1;
    padding: 1rem 1.5rem;
}

#right-foot {
    padding: 1rem 1.5rem;
}

#right-foot a {
    padding-left: 1rem;
}

@media screen and (max-width: 826px) {
    .section_left {
        padding: 0;
    }

    .section_right {
        padding: 2rem 1rem;
    }

    .section_left,
    .section_right {
        width: 100%;
        margin: 0 auto;
    }

    .banner_right {
        width: 100%;
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }

    .banner_right h2 {
        font-size: 2.3rem;
    }

    .banner_right p {
        font-size: 1.5rem;
        padding: 2rem 0 1.5rem;
    }

    button {
        width: 100%;
        margin: 0 auto;
    }

    h2 {
        font-size: 1.95rem;
    }

    #section2 .section_left {
        border: none;
    }

    #section2-left-text {
        padding: 0 1rem;
    }


    #section3 article {
        max-width: 50%;
    }

    #section4-left-text {
        padding: 0 1rem 1rem;
    }
}

@media screen and (max-width: 664px) {
    footer {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    #section3 article {
        max-width: 100%;
    }
}

@media screen and (min-width: 481px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    * {
        text-align: left;
    }

    .notmobile {
        display: none;
    }

    button {
        text-align: center;
    }

    #section2 article {
        border: none;
        display: block;
        padding: 0 0 2rem;
    }

    #section2 figure {
        padding: 0;
        width: 100%;

    }

    #section2-left-text {
        padding: 1rem;
    }

    #section2 .section_right {
        padding: 1rem 1rem 0;
    }

    #section2 .article_right {
        padding: 1rem 1rem 2rem;
        width: 100%;
    }

    #section2-highlight-article {
        background-color: hsl(187, 30%, 66%);
    }

    #section3 {
        padding: 2rem 0 1.5rem;
    }

    #section3 article {
        padding: 0 1rem 0.5rem;
    }

    #section3 h3 {
        padding: 0;
    }

    .section-3-text {
        padding: 1rem 1rem 1.5rem;
    }

    .section-3-text h3 a {
        font-size: 1.6rem;
    }

    #section4 {
        padding: 0 0 1.5rem;
    }

    #section4 h2 {
        padding: 2rem 0 1rem;
    }

    #left-foot {
        padding: 1rem auto;
    }
}